body {
  font-family: "Open Sans", sans-serif;
  background-color: #e9edee;
}

.topbar {
  background-color: #222f3f;
  height: 3em;
}
.topbar img {
  height: 50%;
  margin-left: 1em;
  margin-top: 0.5em;
}
nav {
  background-color: #364759;
  height: 1.5em;
  padding-left: 1em;
}
nav button {
  background-color: transparent;
  border: transparent;
  color: white;
  padding-top: 0.4em;
  font-size: 0.7em;
  cursor: pointer;
}
main {
  margin: 2 em;
}
h3 {
  background-color: #f56600;
  color: white;
  font-size: 0.7em;
  padding: 0.4em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}
.first-card {
  background-image: url(../images/bg-image.png);
  height: 6em;
  text-align: center;
  color: white;
  font-weight: 700;
  padding-top: 2em;
  font-size: 1.5em;
}
.first-card img {
  height: 100%;
}
.first-card p {
  margin-top: 2em;
  font-size: 0.6em;
}
.second-card {
  background-color: white;
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.second-card div img {
  height: 100%;
  width: 100%;
  border-radius: 10%;
  filter: drop-shadow(-2px 5px 10px #6b6b6b);
}
.second-card div {
  display: inline-block;
  height: 21em;
  width: 22%;
  margin: 1em;
}
h4 {
  margin-left: 1.3em;
  padding-top: 1em;
  font-weight: 700;
}
.third-card {
  height: 25em;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.third-card img {
  height: 100%;
  width: 100%;
}
.third-card p {
  text-align: center;
}
.fourth-card {
  height: 25em;
  margin-top: 2em;
  margin-bottom: 3em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.fourth-card img {
  height: 100%;
  width: 100%;
}
.fourth-card p {
  text-align: center;
}
footer div {
  background-color: #364759;
  text-align: center;
  font-size: 0.8em;
  height: 2em;
  padding-top: 1em;
  box-sizing: content-box;
}
footer div a {
  color: white;
}
.bottom {
  background-color: #222f3f;
  height: 5em;
}
.bottom img {
  height: 50%;
  margin-top: 1em;
}

main button {
  background-color: transparent;
  border-color: transparent;
  color: #025b65;
  font-weight: 700;
  cursor: pointer;
}
